:root {
	/* --md-icon-font: 'Material Symbols Rounded'; */
	--md-list-container-color: transparent;
	-webkit-tap-highlight-color: transparent;
	--md-elevation-level: 2 !important;
}

html {
	/* scrollbar-gutter: stable; */
}
html[hide-scrollbar] {
	overflow: hidden;
}

body {
	margin: 0;

	font-family: roboto;

	background-color: var(--md-sys-color-surface-container-highest);
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);

	position: absolute;
	inset: 0;
}
